<h1>Recipes</h1>

<div>
  <% #binding.pry %>
  <h1><%= @recipes.count %></h1>
  <% @recipes.each do |recipe| %>
  <a href = "/recipes/<%=recipe.id%>"><h2><%= recipe.name %></h2></a>
  <h3><%= recipe.cook_time %></h3>
  <h3><%= recipe.ingredients %> </h3>
  <% end %>
</div>
